//Menu wrapper Setting
.menu-content {
    width: 223px;

    transform: translateY(2px);

    .menu-items {
        display: flex;
        justify-content: flex-start;
        color: var(--text-color);
        height: 42px;
        font-size: 1.5rem;
        width: 100%;
        background-color: var(--popper-background);

        &:hover {
            background-color: var(--background-gray-color-03);
        }
    }
}

.separate {
    border-top: 1px solid#e5e5e5;
}
.menu-body {
    overflow-y: auto;
}
.theme {
}

//Menu items setting
//Menu header

.header {
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    color: var(--text-color);
}
.back-btn {
    background: transparent;
    font-size: 1.6rem;
    cursor: pointer;
    width: 20px;
    margin-left: 33px;
    color: var(--text-color);
}
.header-title {
    position: absolute;
    top: 30%;
    left: 40%;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
}
