.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;

    background-color: var(--background-color-white);
}

.container {
    max-width: 1150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    margin-top: 60px;
}

.content {
    width: 100%;
    padding: 24px 0;
    max-width: 695px;
    margin-left: 440px;
    margin-right: 16px;
}
