.menu-items {
    display: flex;

    height: 48px;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 25px;
    padding: 8px;
    border-radius: 4px;

    transition: background-color ease-in-out 200ms;
    color: var(--text-color);

    &.active {
        color: var(--primary);

        .icon {
            display: none;
        }
        .active-icon {
            display: block;
        }
    }
    &:hover {
        background-color: var(--background-gray-color-03);
    }
}
.icon {
    display: block;
}
.active-icon {
    display: none;
}

.title {
    margin-left: 8px;
    margin-top: 4px;
}

.wrapper-menu {
    margin-bottom: 8px;
}
