.search,
.search-result {
    width: 361px;
}
.search-title {
    color: var(--background-gray-color-05);
    height: 30px;
    padding: 5px 12px;
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: 600;
}

.search {
    width: 361px;
    height: 46px;
    padding: 12px 16px;
    background-color: var(--background-search);

    border-radius: 92px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1.5px solid transparent;
    position: relative;

    &:focus-within {
        border-color: var(--background-gray-color-02);
    }

    &::after {
        position: absolute;
        right: 48px;
        top: 9px;
        content: '';
        width: 1px;
        height: 28px;
        background: var(--background-gray-color-12);
    }
    input {
        color: var(--text-color);

        flex: 1;
        padding: 16px 0;
        padding-right: 40px;
        height: 100%;
        font-weight: 400;
        font-size: 1.6rem;
        background: transparent;
        line-height: 22px;
        font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
        caret-color: var(--primary);
        &::placeholder {
            color: var(--text-color);
        }
    }
    & input:not(:placeholder-shown) ~ .search-btn {
        color: var(--background-gray-color-75);
    }
}
.close,
.loading {
    position: absolute;
    top: 16px;
    right: 58px;
    cursor: pointer;
    color: #a6a7ab;
    background-color: transparent;
}
.loading {
    animation: spin 1s linear infinite;
    right: 60;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.search-btn {
    margin-right: -16px;
    padding: 11px 16px 11px 14px;
    border-top-right-radius: var(--border-radius-input);
    border-bottom-right-radius: var(--border-radius-input);
    color: var(--background-gray-color-34);
    background: transparent;
    font-size: 1.8rem;

    &:hover {
        cursor: pointer;
        background: var(--background-gray-color-03);
    }
    &:active {
        cursor: pointer;
        background: var(--background-gray-color-06);
    }
}
.wrap-search {
    padding: 8px 0 0 0;
    overflow-y: auto;
}
///searching result
.text-result {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;
    color: var(--text-color);
    &:hover {
        background-color: var(--background-gray-color-06);
    }
}
.magicon {
    font-size: 1.2rem;
    margin-right: 8px;
    color: var(--icon-background-gray-color-75);
}
.text {
    font-size: 1.6rem;
    line-height: 22px;
    font-weight: 600;
    overflow: hidden;

    white-space: nowrap;
}
//view searching

.view-all {
    padding: 15px 16px;
    cursor: pointer;
    display: flex;
    color: var(--text-color);

    align-items: center;
    &:hover {
        background-color: var(--background-gray-color-06);
    }
}
