.wrapper {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.container {
    height: 100vh;
    width: 1150px;
    padding: 0 24px 0 22px;
    display: flex;
}

.content {
    flex: 1;
}
