.wrapper {
    height: 60px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    width: 100%;
}
.inner {
    width: 1150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px 0 22px;
}

// Action header
.action {
    display: flex;
    align-items: center;

    .cuz-color {
        border-color: rgb(221 221 222);

        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }
    }
}
//icon

.badge {
    position: absolute;
    top: -4px;
    right: -5px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    font-family: 'ProximaNova', sans-serif;
    background-color: var(--primary);
}
.inbox,
.message {
    background: transparent;
    font-size: 2.6rem;
    padding: 4px;
    cursor: pointer;
    margin-left: 16px;

    margin-top: 10px;
}
.inbox {
    position: relative;
}
//icon

.setting {
    background-color: transparent;
    margin-left: 28px;
    padding: 4px;
    font-size: 2rem;
    cursor: pointer;
}

.user-avatar {
    border-radius: 50%;
    background-size: cover;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-left: 24px;
}
